.announcement-circle{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    min-height: 90px;
    max-width: 81.25rem;
    padding: 0 20px;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--touch-color);
    color: var(--white-color);
    transition: 3s all;
    margin-bottom: 160px;
}

.announcement-circle.close-circle{
    display: none;
}

.announcement-circle--content{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.announcement-circle h1{
    font-size: 0.93rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.lets-go{
    display: flex;
    justify-content: center;
    transition: 0.6s ease;
}

.lets-go:hover{
    padding-left: 0.5rem;
}

.lets-go a{
    color: var(--white-color);
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid var(--white-color);
    padding-bottom: 0.2rem;
}

.lets-go-icon{
    display: none;
}

.announcement-circle--close{
    display: none;
}


@media(min-width: 900px){
    .announcement-circle{
        padding: 0 100px;
        border-radius: 3.125rem;
        min-height: 80px;
    }
    
    .announcement-circle--content{
        display: flex;
        gap: 10px;
    }

    .announcement-circle--close{
        display: block;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }

    .announcement-circle--close:hover{
        transform: scale(1.1);
    }

    .lets-go{
        align-items: center;
        width: 100px;
        cursor: pointer;
    }

    .lets-go-icon{
        padding: 2px;
        margin-left: 0.3rem;
        display: block;
    }
    
}