.result-container{
    color: var(--white-color);
    border: 2px solid var(--white-color);
    width: 50%;
    height: 100%;
    padding: 2rem 0;
}

.result-heading{
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 2rem;
}

.new-record-heading{
    text-align: center;
    margin-bottom: 1rem;
}


.result-body{
    
}

.result-body .heading,
.point-heading{
    display: flex;
    justify-content: center;
}


.result-body .heading span,
.point-heading span{
    width: 50%;
    text-align: center;
}


.result-body .heading{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2;
}

.share-point{
    text-align: center;
    margin-top: 3rem;
}

.share-point .twitter-share-button{
    margin-left: 1rem;
    /* color: dodgerblue; */
}

.new-record-alert{
}