.custom--btn {
  border-radius: 0.25rem;
  appearance: none;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  line-height: 1.28571429;
  letter-spacing: 0.8px;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);
}

.custom--btn:hover {
  box-shadow: inset 0 0 0 1px var(--primary-color);
}

.custom--btn.link-btn.button {
  padding: 0rem;
}

.custom--btn a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0.75rem 1rem;
}

.custom--btn-outline {
  box-shadow: inset 0 0 0 1px var(--white-color);
  color: var(--white-color);
  background-color: var(--primary-color);
}

.custom--btn-outline:hover {
  box-shadow: inset 0 0 0 1px var(--white-color);
  transform: scale(1.03);
}

.custom--btn-outline-primary {
  box-shadow: inset 0 0 0 1px var(--touch-color);
  color: var(--touch-color);
}

.custom--btn-outline-primary:hover {
  box-shadow: inset 0 0 0 1px var(--touch-color);
  color: var(--touch-color);
}

.custom--btn-touch {
  background-color: var(--touch-color);
  color: var(--white-color);
}

.custom--btn-touch:hover {
  box-shadow: inset 0 0 0 1px var(--white-color);
  background-color: var(--touch-color);
  color: var(--white-color);
}

.custom--btn-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}
