.typing-board {
  width: 70%;
  max-width: 70%;
  margin: 0 auto;
  font-family: var(--poppins);
  z-index: 999;
}

.rank-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-bottom: 0.253rem;
  padding-right: 0.456rem;
}

.rank-info svg {
  color: var(--orange-color);
}

.rank-info .position {
  margin-left: 0.5rem;
  font-size: 1.897rem;
}

.typing-text .instruction {
  color: var(--grey-color);
  margin-left: 1rem;
  font-size: 0.975rem;
  font-weight: 700;
  text-transform: capitalize;
}

.typing-wrapper,
.typing-input-wrapper {
  display: none;
}

.no-mobile-version {
  bottom: 3rem;
  text-align: right;
  text-transform: capitalize;
  color: var(--white-color);
}

.show-smiley {
  color: var(--grey-color);
  line-height: 2;
  text-align: center;
}

.typing-text {
  width: 88%;
  white-space: nowrap;
  overflow: hidden;
}

.typing-wrapper .typing-text code {
  line-height: 2;
  color: var(--touch-color);
  /* color: #1f2937; */
  font-size: 1.5rem;
  font-weight: 900;
  /* opacity: 0.8; */
}

.typing-wrapper.dark .typing-text code {
  color: var(--grey-color);
}

.typing-wrapper.light .typing-text .character-out {
  color: var(--primary-color);
}

.typing-wrapper.dark .typing-text .character-out {
  color: var(--primary-color);
}

.typing-input-wrapper {
  width: 88%;
  background-color: var(--white-color);
  border: 2px solid var(--touch-color);
}

.typing-input-wrapper textarea {
  height: 200px;
  line-height: 2;
  resize: none;
  display: block;
  font-family: var(--poppins);
  font-size: 1.25rem;
  outline: none;
  border: none;
  /* opacity: .9; */
  color: var(--touch-color);
  background-color: rgba(74, 21, 75, 0.2);
  font-weight: 600;
  width: 100%;
  padding: 1rem 12rem 2rem 2rem;
}

.dark.typing-input-wrapper textarea {
  color: #1f2937;
  opacity: 0.8;
}

@media (min-width: 900px) {
  .no-mobile-version {
    display: none;
  }

  .typing-wrapper,
  .typing-input-wrapper {
    display: block;
  }

  .typing-wrapper {
    margin-bottom: 3rem;
    width: 88%;
  }

  .show-smiley {
    text-align: left;
  }
}
