.typing-board{
    width: 70%;
    max-width: 70%;
    margin: 0 auto;
    font-family: var(--poppins);
}

.rank-info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-bottom: 0.253rem;
    padding-right: 0.456rem;
}


.rank-info svg{
    color: var(--grey-color);
    color: orange;

}

.rank-info .position{
    margin-left: 0.5rem;
    font-size: 1.897rem;
}

.typing-text .instruction{
    color: var(--grey-color);
    margin-left: 1rem;
    font-size: 0.975rem;
    font-weight: 700;
    text-transform: capitalize;
}

.typing-wrapper,
.typing-input-wrapper{
    display: none;
}

.no-mobile-version{
    z-index: 999;
    position: relative;
    bottom: 3rem;
    text-align: right;
    text-transform: capitalize;
    color: var(--white-color);
}

.typing-text{
    width: 100%;
}

.typing-text .character-out{
    color: var(--white-color);
    color: var(--primary-color);
}


.typing-text code{
    line-height: 2;
    color: var(--grey-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.dark.typing-text code{
    color: var(--touch-color);
}


.typing-input-wrapper{
    width: 89%;
    border: 2px solid var(--touch-color);
    background-color: var(--white-color);
    border: 2px solid var(--touch-color);
}

.typing-input-wrapper textarea{
    height: 200px;
    line-height: 2;
    resize: none;
    display: block;
    font-family: var(--poppins);
    font-size: 1.25rem;
    outline: none;
    border: none;
    /* opacity: .9; */
    color:  var(--touch-color);
    font-weight: 600;
    width: 100%;
    padding: 1rem 12rem 2rem 2rem;
}


@media(min-width: 900px){
    .no-mobile-version{
        display: none;
    }

    .typing-wrapper,
    .typing-input-wrapper{
        display: block;
    }

    .typing-wrapper{
        margin-bottom: 3rem;
    }
}