.no-network {
  color: var(--white-color);
}

.user {
  color: var(--white-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.user img {
  width: 30%;
}

.user .user-name {
  text-transform: uppercase;
  font-size: 2rem;
}

.user .user-twitter-handle a {
  color: var(--primary-color);
  margin-left: 0.1rem;
}

.user-email-address {
  margin-top: 1.5rem;
}

.user-email-address:hover {
  text-decoration: underline;
}

.user .user-rank {
  line-height: 2;
  font-weight: 600;
}
