.navbar{
    height: 5rem;
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar--brand{
    padding-right: 2rem;
    color: var(--white-color);
    font-size: 1.3rem;
}

.navbar--brand code{
    font-family: var(--poppins);

}

.left-items-links{
    display: none;
}

.left-items-links a{
    color: var(--white-color);
    text-decoration: none;
    margin-right: 1rem;
    padding-bottom: 0.3rem;
    font-size: 0.934rem;
    font-weight: 600;
    position: relative;
}

.left-items-links a:hover{
    border-bottom: 2px solid var(--white-color);
}

.right-items .button:last-child{
    display: none;
}

@media(min-width: 1100px){

    .left-items{
        display: flex;
        align-items: center;
    }

    .left-items-links{
        display: block;
    }
    
    .right-items .button:first-child{
        margin-right: 0.5rem;
    }

    .right-items .button:last-child{
        display: inline;
    }
}