.music-player{
    margin-bottom: 2rem;
}

.music-player svg{
    cursor: pointer;
    font-size: 2rem;
}

.audio-name{
    position: absolute;
    top: 23rem;
    white-space: nowrap;
}


@media(min-width: 900px){
    .music-player{
        text-align: center;
    }
}