.pop-notifier {
  position: fixed;
  right: 0;
  bottom: 0;
  color: var(--white-color);
  padding: 1rem 1.5rem;
  margin: 2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
}

.pop-notifier svg {
  margin-right: 1rem;
}

.pop-notifier.success {
  background: var(--green-color);
}

.pop-notifier.danger {
  background: var(--warning-color);
}
